body {
    font-family: Arial;
    text-align: center;
    margin: 20px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

/* ========================= */
/* Chat Styling (WhatsApp like) */
/* ========================= */

.chat-box {
    border: 1px solid gray;
    height: 400px;
    overflow-y: scroll;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #ece5dd;
    text-align: left;
}

.message {
    display: flex;
    margin-bottom: 10px;
}

.sender {
    justify-content: flex-end;
}

.receiver {
    justify-content: flex-start;
}

.bubble {
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 14px;
}

.sender .bubble {
    background-color: #dcf8c6;
    text-align: right;
}

.receiver .bubble {
    background-color: white;
    text-align: left;
}

.time {
    font-size: 10px;
    color: gray;
    margin-top: 5px;
}

/* ========================= */
/* Group Section Styling */
/* ========================= */

.group-section {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #ccc;
}

.group-list {
    margin-top: 15px;
}

.group-item {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 8px;
    border-radius: 5px;
    background: #f7f7f7;
}

.group-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* sender name style */


.sender-name {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
}
